# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor directories
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
*.log
npm-debug.log*

# Local dev server artefacts
node_modules/
.cache/

# OS-generated
Thumbs.db
ehthumbs.db
Desktop.ini

venv/
